header{
    padding: 10px 0;
}

#navegação {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 auto;
    align-items: center;
}

#navegação ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
    padding: 0;
    margin: 0;
}

#navegação ul li a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-primary);
    font-size: 1.2em;
    transition: color 0.3s ease;
}

#navegação ul li a:hover {
    background-color: #007BFF;
    color: #ffffff;
}

#logo {
    color: #4F88A3;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-secundary);
    font-size: 3rem;
    font-weight: bold;
}

#botao-header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#botao-header:hover {
    background-color: #0056b3;
}

header div {
    border: 1px solid #007BFF;
    width: 100%;
    height: 60vh;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

header div h1 {
    color: #4F88A3;
    font-family: var(--font-secundary);
    font-size: 5em;
}

header div p {
    font-family: var(--font-primary);
    font-size: 1.2em;
    font-weight: 500;
    color: #333333;
}

header div a {
    background-color: #ffffff;
    color: #0056b3;
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #007BFF;
    text-decoration: none;
    text-align: center;
    width: 15%;
    margin-top: 1em;
    transition: background-color 0.3s ease;
}

header div a:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 30px;
    position: absolute;
    width: 20%;
    top: 80px;
    right: 10px;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 10px 0;
}
  
.menu ul li a {
    text-decoration: none;
    color: #333;
}

#menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1100;
    position: relative;
}

.menu.active {
    display: flex;
}

@media (max-width: 380px) {
    #logo {
        font-size: 1.5rem;
    }

    #navegação {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    #navegação ul {
        gap: 8px;
        padding: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    #navegação ul li a {
        font-size: 0.9rem;
    }

    #botao-header {
        padding: 8px 16px;
        font-size: 0.9rem;
        width: auto;
    }

    header {
        width: 100%;
        box-sizing: border-box;

    }

    header div h1 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    #navegação {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    #navegação ul {
        flex-direction: column;
        gap: 20px;
    }

    #menu {
        width: 50%;
    }

    header {
        text-align: left;
    }

    #logo {
        font-size: 2.5rem;
    }

    #botao-header {
        padding: 8px 16px;
        font-size: 1.2rem;
        width: auto;
    }

    #Home a {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 20px 40px;
    }

    #logo {
        font-size: 3rem;
    }

    #navegação ul {
        gap: 30px;
    }

    #botao-header {
        padding: 10px 24px;
        width: auto;
    }
}